
.wrapper {width:100%;overflow:hidden}

.list-services li {
	line-height:24px;
	margin-top:-10px;
	margin-left:-20px;
	padding-left:28px;padding-right:28px;float:left;
	list-style:none;
}
.list-services li a {
	color:#000;
	text-decoration:none
}
.list-services li a:hover {
	text-decoration:underline
}
.list-services li.item-1 {
	background:url(../images/guest/facebook.png) 0 3px no-repeat
}
.list-services li.item-2 {
	background:url(../images/guest/twitter.png) 0 3px no-repeat
}

.row-top {
	width:100%;
	padding:33px 0 42px;
	
}
.row-padding {
	padding:0 62px
}
.wrapper {
	width:100%;
	overflow:hidden
}
.col-1, .col-2, .col-3, .col-4 {
	float:left
}
h4 {
	font-size:23px;
	line-height:1.2em;
	color:#fefefe;
	letter-spacing:-1px;
	margin-bottom:20px
}
dl.address {
	line-height:24px;
	color:#9d9d9d
}
dl.address span {
	float:left;
	width:74px;
	color:#fefefe
}
.list-services li {
	line-height:24px;
	padding-left:28px;list-style:none;
	padding-right:28px
}
.list-services li a {
	color:#9d9d9d;
	text-decoration:none
}
.list-services li a:hover {
	text-decoration:underline
}
.list-services li.item-1 {
	background:url(../images/facebook.png) 0 3px no-repeat
}
.list-services li.item-2 {
	background:url(../images/twitter.png) 0 3px no-repeat
}
.footer-logo {
	display:block;
	color:#9d9d9d;
	font-size:60px;
	line-height:1.2em;
	text-transform:uppercase;
	letter-spacing:-3px;
	font-weight:400;
	margin-bottom:5px
}
.footer-logo strong {
	color:#00a9ff;
	text-transform:none;
	display:inline-block
}
.indent3 {
width:360px;
height : 144px;
	padding-top:38px;background:url(../images/bimbel.png) 0 3px no-repeat
}
.phone {
	display:inline-block;
	font-size:20px;
	line-height:1.2em;
	color:#9d9d9d;
	letter-spacing:-1px;
	padding-left:5px;
	margin-top:100px
}
.phone strong {
	color:#fff
}
.row-bot {
	width:100%;
	padding:35px 0;
	font-size:12px;
	line-height:20px
}
.aligncenter {
	text-align:center
}